.mce-btn .mce-ico.mce-i-AS_gmap_tc_button {
	width: 70px;	
	background: tomato;
	margin: -3px;
	display: inline-block;
	height: 20px;
	padding: 3px 5px;
	border-radius: 7px;
	border: none;
	outline: none;
	font-size: 13px;

}
.mce-btn .mce-ico.mce-i-AS_gmap_tc_button:hover {
	border: none;
}
i.mce-i-AS_gmap_tc_button:before {
	content: 'AS gMap';
	color: #fff;
	height: 20px;
	line-height: 20px;
	display: inline-block;
}